<mat-sidenav-container>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Sounds 2 Spotify</span>
      <span style="flex: 1"></span>
      <button *ngIf="!userImageUrl" mat-flat-button (click)="signIn()">
        Sign in
      </button>
      <img
        *ngIf="!!userImageUrl"
        class="avatar"
        [src]="userImageUrl"
        alt="Spotify user image"
        [matMenuTriggerFor]="menu"
      />
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="signOut()">Sign out</button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
